* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: url(images/donation3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-details {
  text-align: center;
}

.header-title {
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 1600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.header-para {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 20px;
}

.btn {
  background: #ff5959;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

/* donate section styles */
.donate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate-now {
  text-align: center;
}

.donate-card {
  display: flex;
  justify-content: space-between;
}

.card-bg {
  width: 120px;
  height: 120px;
  background-color: rgb(240, 234, 234);
  text-align: center;
  padding-top: 45px;
  border-radius: 5px;
  color: rgb(172, 158, 158);
  font-size: 25px;
  font-weight: 700;
  font-family: sans-serif;
  margin-right: 15px;
  margin-bottom: 30px;
}

.card-bgbg {
  width: 120px;
  height: 120px;
  text-align: center;
  background: rgb(240, 234, 234);
  padding-top: 33px;
  border: 2px solid #ff5959;
  color: #ff5959;
  border-radius: 5px;
  font-size: 25px;
  padding-top: 45px;
  font-weight: 700;
  font-family: sans-serif;
  margin-right: 15px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
  text-transform: capitalize;
}

.donate-para {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

.amount-para {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgb(205, 193, 193);
}

.donate-btn {
  background: #ff5959;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

/* donate plan started */
.plan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plan-card {
  display: flex;
}

.card1 {
  width: 300px;
  height: 300px;
  background-color: rgb(232, 235, 235);
  text-align: left;
  margin-right: 20px;
  border-radius: 5px;
}
.card2 {
  height: 300px;
  width: 300px;
  background-color: rgb(245, 209, 209);
  text-align: left;
  margin-right: 20px;
  border-radius: 5px;
}
.card3 {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  text-align: left;
  margin-right: 20px;
  border-radius: 5px;
}
.plan-para {
  margin: 30px 0;
}

.card-one {
  padding: 0px 20px;
}

.fa-solid {
  font-size: 40px;
  padding: 45px 20px 20px;
  color: rgb(112, 98, 98);
}

.card-para {
  padding: 20px 20px;
  font-size: 15px;
  color: grey;
  line-height: 1.5em;
}

/* third section start */
.third {
  display: flex;
  justify-content: space-between;
  margin: 50px 173px 20px 130px;
}

.third-title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.third-section {
  text-align: left;
  /* width: 390px;
  height: 390px; */
  padding-top: 40px;
  padding-left: 20px;
}

.third-img {
  width: 390px;
  height: 390px;
  border-radius: 5px;
}

.third-para {
  font-size: 15px;
  font-weight: 400;
  /* padding: 10px 20px 0px 0; */
  line-height: 1.5em;
  color: rgb(165, 153, 153);
  margin: 5px 0;
}

.third-btn {
  background: #ff5959;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 700px;
  height: 180px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}
.email4 {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  font-weight: 600;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(217, 223, 223);
}

.btn4 {
  width: 120px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FF5959;
  font-weight: 600;
  color: white;
}

.footer4 {
  width: 100%;
  height: 170px;
  text-align: center;
  background-color: rgb(23, 22, 22);
}

.footer-title {
  font-family: "Lobster", cursive;
  color: #FF5959;
  padding-top: 40px;
  font-weight: 500;
}

.footer-para {
  color: gainsboro;
  padding-top: 20px;
  font-size: 13px;
}

.third2 {
    display: flex;
    justify-content: space-between;
    margin: 70px 173px 20px 147px;
}

.third-section2{
    margin-left: 70px;
    padding-top: 43px;
}